.about-me {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        margin-bottom: 4rem;
        
    }

    .about-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        text-align: end;

        p {
            font-size: 20px;
            font-weight: 200;
            padding: 3rem;
            font-weight: 400;
            color: white;
            line-height: 1.4;

            @media (max-width: 768px) {
                padding: 0 10px 0 ;
                font-size: 16px;
                text-align: center;
            }
        }
    }

    .about-img {
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }


}