/* --------------------- imports ------------------ */
@import '../utilities/variables';
/* ------------------------------------------------ */

.nav-navbar-style {
	display: flex;
	width: 100%;

	.navbar-brand {
		font-size: 1.30rem;
	}

	.brand-1 {
		font-family: 'Lato', sans-serif;
		font-weight: 900;

		background: -webkit-linear-gradient(left bottom, #004d7a, #008793, #00bf72, #a8eb12);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.brand-2 {
		font-family: 'Lato', sans-serif;
		color: white;
	}

	.navbar-button {
		border: none;
		background: none;
		padding: 0;
		border-radius: 100px;
		margin-left: auto;
		width: 35px;
		height: 35px;
	
		.icon {
			width: 23px;
			height: 23px;
		}
	
		&:focus {
			border: none;
			box-shadow: none;
		}
	
		&:active {
			border: none;
		}
	}
}

.navbar-collapse-style {
	margin-top: 5px;
	padding: 1rem;
	background-color: rgba(255 255 255 / 0.2);
	backdrop-filter: blur(5px);
	border-radius: 10px;

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		justify-content: center;

		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: white;
			letter-spacing: 1px;
			font-weight: 300;
			font-size: .85rem;
		}

		.icon-navbar {
			position: relative;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100px;
			width: 50px;
			height: 50px;
			color: white;
			margin-bottom: 5px;
			z-index: 1;

			i {
				font-size: 1rem;
			}

			&::after {
				position: absolute;
				content: '';
				width: 50%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(255 255 255 / 0.1);
				z-index: 0;
			}
		}
	}
}

.bg-icon-1 {
	background: #004d7a;
}

.bg-icon-2 {
	background: #008793;
}

.bg-icon-3 {
	background: #00a060;
}

.config-style {
	border-top: 1px solid rgba(255 255 255 / 0.2);
}

