.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .img__presentation {
        display: flex;
        justify-content: center;
        align-items: center;

        .img__mask {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 200px;
            width: 200px;
            overflow: hidden;
            border-radius: 100px;
            margin: auto;
            border: 5px solid darken(gray, 30%);

            img {
                width: 210px;
            }
        }

    }

    .text__presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text-1 {
            position: relative;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1;
            color: white;
            padding-top: 20px;
            padding-left: 30px;
            margin: 0;

            &::before {
                position: absolute;
                content: '';
                width: 25px;
                height: 1px;
                background: -webkit-linear-gradient(left bottom, #004d7a, #008793, #00bf72, #a8eb12);
                bottom: 25%;
                left: 0;
            }
        }

        span {
            display: inline;
            font-weight: 900;
            font-size: 1.75rem;
            color: white;

            margin: 0;
        }

        .text-2 {
            display: inline;
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 1.75rem;
            color: white;
            margin: 0;
            padding: 5px 0;
            background: -webkit-linear-gradient(left bottom, #004d7a, #008793, #00bf72, #a8eb12);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .text-3 {
            font-weight: bold;
            font-size: 1rem;
            color: rgba(255 255 255 / .8);
            margin: 0;
            padding: 5px 0;
        }
    }

    .btn-presentation{
        display: flex;
        justify-content: center;
        margin: 10px auto;


        a{
        padding: 10px 15px;
        border-radius: 50px;
        text-decoration: none;
        color: white;
        background: -webkit-linear-gradient(left bottom, #004d7a, #008793);;
        }

    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.socialList {
    list-style: none;
    padding: 0;
    margin: 0;

    // &:after {
    //     content: '';
    //     display: block;
    //     margin: 0 auto;
    //     width: 1px;
    //     height: 40px;
    //     background: rgba(255 255 255 / 0.2);
    // }

    // &:before {
    //     content: '';
    //     display: block;
    //     margin: 0 auto 10px;
    //     width: 1px;
    //     height: 40px;
    //     background: rgba(255 255 255 / 0.2);

    // }
}

.socialList__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: 1px solid rgba(255 255 255 / 0.2);
    transition: transform .2s;

    &:hover {
        transform: translateY(-3px);

    }
}

.socialList__icon {
    font-size: 1.15rem;
    color: rgba(255 255 255 / 0.7);
}


.settings {
    position: fixed;
    bottom: 10px;
    left: 10px;

    .btn__settings {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        border: 1px solid rgba(255 255 255 / 0.2);
        transition: transform .2s;
        text-decoration: none;
        color: rgba(255 255 255 / 0.2);

        // &:active {
        //     animation-name: rotate-in-center;
        //     -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        //     animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        // }
    }

    .settings__collapse,
    .card-body {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 100px;
            border: 1px solid rgba(255 255 255 / 0.2);
            transition: transform .2s;
            text-decoration: none;
            color: rgba(255 255 255 / 0.2);
            margin-bottom: 10px;
        }
    }
}

.dark-light {
    background-color: var(--dropdown-bg);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: 0.3s easy all;

    svg {
        width: 25px;
        flex-shrink: 0;
        fill: #ffce45;
        stroke: #ffce45;
        transition: 0.5s;
    }
}

.light-mode {
    transition: 0.3s easy all;

    .dark-light svg {
        fill: transparent;
        stroke: rgba(255 255 255 / 0.2);
    }
}