




.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .img__presentation {
        display: flex;
        justify-content: center;
        align-items: center;

        .img__mask {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 280px;
            width: 250px;
            overflow: hidden;
            border-radius: 52% 48% 61% 39% / 56% 55% 45% 44%;

            img {
                width: 300px;
            }
        }

    }

    .text__presentation {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        .text-1 {
            font-weight: normal;
            font-size: 1.5rem;
            color: white;
            padding: 10px 0;
        }

        .text-2 {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 2.5rem;
            color: white;
            margin: 0;
        }

        .text-3 {
            font-weight: lighter;
            font-size: 1rem;
            color: rgba(255 255 255 / 0.5);
            margin: 0;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    padding: 0;
}

.socialList {
    list-style: none;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 1px;
        height: 40px;
        background: rgba(255 255 255 / 0.2);
    }

    &:before {
        content: '';
        display: block;
        margin: 0 auto 10px;
        width: 1px;
        height: 40px;
        background: rgba(255 255 255 / 0.2);

    }
}

.socialList__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: 1px solid rgba(255 255 255 / 0.2);
    transition: transform .2s;

    &:hover {
        transform: translateY(-3px);

    }
}

.socialList__icon {
    font-size: 1.15rem;
    color: rgba(255 255 255 / 0.7);
}


.settings {
    position: fixed;
    bottom: 10px;
    left: 10px;

    .btn__settings {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        border: 1px solid rgba(255 255 255 / 0.2);
        transition: transform .2s;
        text-decoration: none;
        color: rgba(255 255 255 / 0.2);
        
        // &:active {
        //     animation-name: rotate-in-center;
        //     -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    //     animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        // }
    }

    .settings__collapse,
    .card-body {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 100px;
            border: 1px solid rgba(255 255 255 / 0.2);
            transition: transform .2s;
            text-decoration: none;
            color: rgba(255 255 255 / 0.2);
            margin-bottom: 10px;
        }
    }
}

.dark-light {
    background-color: var(--dropdown-bg);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: 0.3s easy all;

    svg {
        width: 25px;
        flex-shrink: 0;
        fill: #ffce45;
        stroke: #ffce45;
        transition: 0.5s;
    }
}

.light-mode {
    transition: 0.3s easy all;

    .dark-light svg {
        fill: transparent;
        stroke: rgba(255 255 255 / 0.2);
    }
}

.c-opening-bar {
    position: absolute;
    bottom: 0%;
    height: 5px;
    width: 0%;
    background: linear-gradient(to right, #004d7a, #008793, #00bf72, #a8eb12);
    background: linear-gradient(left bottom, #004d7a, #008793, #00bf72, #a8eb12);
    z-index: 400;
    animation: Loading;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.2s;
    @keyframes Loading {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    @media (max-width:991px) {
        top: 0%;
        bottom: unset;
    }
}

.c-opening-bg {
    overflow: hidden;
    background-color: gray;
    position: absolute;
    z-index: 200;
    top: 0;
    height: 100vh;
    width: 100%;
    animation: Opening;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    @keyframes Opening {
        0% {
            height: 100vh;
            top: 0px;
        }
        100% {
            height: 0vh;
            top: 1200px;
        }
    }
}
 .c-opening-circle {
     content: '';
     width: 30px;
     height: 30px;
     border-radius: 100px;
     background-color: red;
     position: absolute;
     top: 50% ;
     left: 50%;
    
    }
    .bounce-in-top {
        -webkit-animation: bounce-in-top 1.1s 1s ;
                animation: bounce-in-top 1.1s 1s ;
    }
/* ----------------------------------------------
 * Generated by Animista on 2021-7-26 22:59:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  


  #loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #151515;
    z-index: 999999;
  }
  .load-circle  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .load-circle:before,
  .load-circle:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .load-circle:before {
    animation: ball1 1s infinite;
    background-color: #1edee4;
    box-shadow: 30px 0 0 #ff2560;
    margin-bottom: 10px;
  }
  .load-circle:after {
    animation: ball2 1s infinite;
    background-color: #255cff;
    box-shadow: 30px 0 0 #ffbc5c;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }