@import '0-functions';





.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .img__presentation {
        display: flex;
        justify-content: center;
        align-items: center;

        .img__mask {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 280px;
            width: 250px;
            overflow: hidden;
            border-radius: 52% 48% 61% 39% / 56% 55% 45% 44%;

            img {
                width: 300px;
            }
        }

    }

    .text__presentation {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        .text-1 {
            font-weight: normal;
            font-size: 1.25rem;
            color: white;
        }

        .text-2 {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 2rem;
            color: white;
            margin: 0;
        }

        .text-3 {
            font-weight: lighter;
            font-size: 1rem;
            color: rgba(255 255 255 / 0.5);
            margin: 0;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    padding: 0;
}

.socialList {
    list-style: none;

    &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 1px;
        height: 40px;
        background: rgba(255 255 255 / 0.2);
    }

    &:before {
        content: '';
        display: block;
        margin: 0 auto 10px;
        width: 1px;
        height: 40px;
        background: rgba(255 255 255 / 0.2);

    }
}

.socialList__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: 1px solid rgba(255 255 255 / 0.2);
    transition: transform .2s;

    &:hover {
        transform: translateY(-3px);

    }
}

.socialList__icon {
    font-size: 1.15rem;
    color: rgba(255 255 255 / 0.7);
}


.settings {
    position: fixed;
    bottom: 10px;
    left: 10px;

    .btn__settings {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        border: 1px solid rgba(255 255 255 / 0.2);
        transition: transform .2s;
        text-decoration: none;
        color: rgba(255 255 255 / 0.2);
        
        // &:active {
        //     animation-name: rotate-in-center;
        //     -webkit-animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    //     animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        // }
    }

    .settings__collapse,
    .card-body {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 100px;
            border: 1px solid rgba(255 255 255 / 0.2);
            transition: transform .2s;
            text-decoration: none;
            color: rgba(255 255 255 / 0.2);
            margin-bottom: 10px;
        }
    }
}

.dark-light {
    background-color: var(--dropdown-bg);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: 0.3s easy all;

    svg {
        width: 25px;
        flex-shrink: 0;
        fill: #ffce45;
        stroke: #ffce45;
        transition: 0.5s;
    }
}

.light-mode {
    transition: 0.3s easy all;

    .dark-light svg {
        fill: transparent;
        stroke: rgba(255 255 255 / 0.2);
    }
}